:root {
    --primary-color: #FFE632;
    --secondary-color: #FFF39A;
    --tertiary-color: #FFFAD3;
    --product-card-color: #D9D9D9;
    --primary-black: #000;
    --primary-cart: #A0A0A0;
    --background-cart: #F4F5F0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hide-b {
    border: none;
    background-color: transparent;
}


/* ==================== Navbar ==================== */
.navbar-desktop,
.navbar-mobile {
    display: none;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

.navbar-mobile img {
    width: 60vw;
    height: auto;
    object-fit: contain;
    padding: 10px 20px;
    aspect-ratio: 2000 / 313; /* LIGHTHOUSE Rekomendation */
}

.navbar-desktop img {
    width: 40vw;
    height: auto;
    object-fit: contain;
    aspect-ratio: 2000 / 313; /* LIGHTHOUSE Rekomendation */
}

.navbar-mobile i,
.navbar-desktop i {
    font-size: 2rem;
    color: var(--primary-black);
}

.cart-icon {
    background-color: var(--secondary-color);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon i {
    cursor: pointer;
}


/* Styles for mobile/tablet */
@media (max-width: 1023px) {
    .navbar-mobile {
        display: flex;
        padding-top: 10px;
        padding-bottom: 0;
        align-items: center;
        flex-direction: column;
    }

    .cart-icon {
        width: 100%;
        height: auto;
    }
}

/* Styles for desktop */
@media (min-width: 1024px) {
    .navbar-desktop {
        display: flex;
        padding: 25px 60px;
        flex-direction: row;
    }

    .cart-icon {
        width: 50px;
        height: 50px;
    }
}



/* ==================== Sökbar ==================== */
.search-bar {
    border: none;
    font-size: large;
    padding-left: 10%;
    outline: none;
}

/* Styles for mobile/tablet */
@media (max-width: 1023px) {
    .search-bar {
        width: 50vw;
        height: 7vw;
        margin-right: 20px;
        font-size: medium;
        background-color: var(--tertiary-color); 
    }


}

/* Styles for desktop */
@media (min-width: 1024px) {
    .search-bar {
        width: 30vw;
        height: 5vw;
        background-color: var(--secondary-color);
    }
}



/* ==================== Shop ==================== */
.shop {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--product-card-color);
    margin: 3%;
}

.item img {
    width: 85%;
    aspect-ratio: 1 / 1; /* LIGHTHOUSE Rekomendation*/
}

/* Styles for mobile/tablet */
@media (max-width: 1023px) {
    .shop {
        grid-template-columns: repeat(auto-fill, 350px);
    }
}

/* Styles for desktop */
@media (min-width: 1024px) {
    .shop {
        grid-template-columns: repeat(3, 30%);
    }
}



/* ==================== Cart ==================== */
.cart {
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 350px;
    background-color: #D9D9D9;
    transition: right 0.3s ease, bottom 0.3s ease;
    overflow-y: auto;
    border-left: #A0A0A0 2px solid;
}

.cart.show {
    right: 0;
}

/* Styles for mobile */
@media (max-width: 767px) {
    .cart {
        top: auto;
        bottom: -100vh;
        right: 0;
        width: 100%;
        height: 80vh; /* Adjust height as needed */
        border-left: none;
        border-top: #A0A0A0 2px solid;
    }

    .cart.show {
        bottom: 0; /* Slide in from the bottom */
    }
}

/* Styles for mobile & tablet */
@media (max-width: 1023px) {
    .cart-buttons {
        font-size: 30px;
    }
}

.cart-header {
    border-bottom: 2px #A0A0A0 solid;
    display: flex;
}

.cart-header h2 {
    margin-left: 15px;
}

.cart-item {
    background-color: var(--background-cart);
    display: flex;
    margin-top: 3%;
    width: 100%;
}

#quantity {
    margin-left: 4px;
    margin-right: 4px;
}

.cart-item img {
    width: 27%;
    height: 27%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    aspect-ratio: 1 / 1; /* LIGHTHOUSE Rekomendation, ska hjälpa att reservera hur mycket plats bilden behöver och därmed öka performance */
}

.cart-price-quantity {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.cart-buttons {
    display: flex;
    margin-right: 100px;
}

.cart-buttons i {
    transition: all 0.3s ease;
}

.cart-buttons i.bi-dash-square:hover::before {
    content: "\F2E8";
    font-family: "Bootstrap Icons";
}

.cart-buttons i.bi-plus-square:hover::before {
    content: "\F4FC";
    font-family: "Bootstrap Icons";
}

.cart-footer {
    margin-top: 3%;
    background-color: white;
    display: flex;
}



/* ==================== Footer ==================== */
.footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    min-height: 125px; /* LIGHTHOUSE Rekomendation (Avoid large layerout shifts) detta ska hjälpa webblärsaren att utföra mindre efterarbete efter den initiella inladdningen.*/
    box-sizing: border-box; /* LIGHTHOUSE Rekomendation (Avoid large layerout shifts) detta ska hjälpa webblärsaren att utföra mindre efterarbete efter den initiella inladdningen.*/
}

.footer img {
    width: 60%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 2000 / 313; /* LIGHTHOUSE Rekomendation */
}